<html>
<head>
    <title>flask demo app</title>
</head>
<body>
    <!-- 登録されているポッドキャスト一覧 -->
    <t2>登録podcast</t2>
    <table border="1">
        <tr>
            <th>podcast_id</th>
            <th>name</th>
            <th>url</th>
        </tr>
        {% for p in podcasts %}
        <tr>
            <td>{{ p.podcast_id }}</td>
            <td>{{ p.podcast_name }}</td>
            <td>{{ p.podcast_url }}</td>
        </tr>
        {% endfor %}
    </table>

    <t2>登録サービス一覧</t2>
    <table border="1">
        <tr>
            <th>broadcast_id</th>
            <th>podcast_id</th>
            <th>service</th>
            <th>url</th>
            <th>created</th>
            <th>update</th>
        </tr>
        {% for b in broadcasts %}
        <tr>
            <td>{{ b.broadcast_id }}</td>
            <td>{{ b.podcast_id }}</td>
            <td>{{ b.broadcast_service }}</td>
            <td>{{ b.broadcast_url }}</td>
            <td>{{ b.created_at }}</td>
            <td>{{ b.update_at }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>エピソード一覧を取得</h2>
    <!-- 登録フォーム -->
    <form action="{{ url_for('get_episode_url') }}" method=post>
        #<input type="text" name="episode_num">
        <input type="submit">
    </form>
    {{ episode_num }}<br>

    {% for e in episode_urls %}
        {{ e.service_name }}<br>
        {{ e.episode_url }}<br><br>
    {% endfor %}
</body>
</html>