<html>
<head>
    <title>top</title>
</head>
<body>
    <!-- 登録フォーム -->
    <form action="{{ url_for('add_podcast') }}" method=post>
        <input type="podcast_id" name="podcast_id">
        <input type="podcast_service" name="podcast_service">
        <input type="podcast_url" name="podcast_url">
        <input type="submit">
    </form>

    <!-- 登録されているポッドキャスト一覧 -->
    <ul class="podcasts">
    {% for p in podcasts %}
    <li>{{p.podcast_id}} {{p.podcast_service}}: {{p.podcast_url}}</li>
    {% endfor %}
    </ul>
</body>
</html>